<!DOCTYPE html>
<html lang="en" ng-app="test" ng-controller="test">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../source/style/datetime.css">
</head>
<body>

<input datetime ng-model="model" class="form-control" ng-model-options="{allowInvalid: true}">
<input type="datetime-local" ng-model="model" class="form-control" ng-model-options="{allowInvalid: true}">
<pre>{{model}}</pre>
<div class="btn btn-default" ng-click="setCustomDate()">set 12.07.2012 16:30</div>
<div class="btn btn-default" ng-click="setCustomMonth()">set Next Month</div>
<div id="console"></div>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../source/datetime.js"></script>
<script>
    angular
            .module('test', [])
            .controller('test', function ($scope) {
                $scope.model = new Date();
                $scope.setCustomDate = function () {
                    $scope.model = new Date(2012, 6, 12, 16, 30);
                };
                $scope.setCustomMonth = function () {
                    $scope.model.setMonth($scope.model.getMonth() + 1);
                };
            })
            .directive('datetime', function ($timeout) {
                return {
                    restrict: "A",
                    require: 'ngModel',
                    scope: {},
                    link: function ($scope, $element, $attributes, $ngModel) {
                        let datetime;
                        $scope.ngModel = $ngModel;
                        $scope.$watch('ngModel.$modelValue', function (newValue) {
                            if (!newValue) return;
                            if (!datetime) {
                                datetime = $element.datetime(newValue);
                                datetime.event.on('change', function (date) {
                                    $timeout(function () {
                                        $scope.ngModel.$modelValue.setDate(date.getDate());
                                        $scope.ngModel.$modelValue.setMonth(date.getMonth());
                                        $scope.ngModel.$modelValue.setFullYear(date.getFullYear());
                                        $scope.ngModel.$modelValue.setHours(date.getHours());
                                        $scope.ngModel.$modelValue.setMinutes(date.getMinutes());
                                    });
                                });
                            }
                            else datetime.setValue(newValue);
                        });
                    }
                };
            });
</script>
</body>
</html>